.about-author {
  background: #ffffff;
  height: 624px;

  padding: 80px 104px;
  box-sizing: border-box;

  display: flex;
  gap: 56px;
}

.about-author__image {
  width: 464px;
  aspect-ratio: 1;

  border-radius: 999em;
}

.about-author__header {
  font-family: "Roboto Slab", "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1a1b22;

  margin: 51px 0 24px;
  padding: 0;
}

.about-author__description {
  font-family: Roboto, Arial, "Helvetica Neue", Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  color: #1a1b22;

  margin: 0;
  padding: 0;
}

@media screen and (width <= 768px) {
  .about-author {
    height: auto;
    padding: 40px 40px 61px;
    gap: 32px;
  }

  .about-author__image {
    width: 232px;
    margin: 21px 0 0;
  }

  .about-author__header {
    font-size: 30px;
    line-height: 1.333;
    margin: 0 0 16px;
  }

  .about-author__description {
    font-size: 18px;
    line-height: 1.333;
  }
}

@media screen and (width <= 320px) {
  .about-author {
    padding: 32px 16px 128px;
    flex-direction: column;
    gap: 24px;
  }

  .about-author__image {
    width: 100%;
    margin: 0;
  }
}
